<section style="padding-top: 60px">
<h2> Latest Spaces </h2>


<br/>
<form action='/spaces/search' method="post">
  Available from
  <label for="search_available_from">
    <input type="date" name="search_available_from" placeholder="DD/MM/YYYY" required>
  </label>
</br>
  Available to
  <label for="asearch_available_to">
    <input type="date" name="search_available_to" placeholder="DD/MM/YYYY" required>
  </label>
</br>

  <button type='submit'>Find Spaces</button>
</form>

<br/><br/>

<form method='get' action='/spaces/new'>
  <button type="submit" id="magic_button" name="submit" value="add_space">Add Space</button>
</form>
<br/><br/>
<div>
<h2> Latest Spaces </h2>
<br/><br/>
<ul id="spaces">
  <% @spaces.each do |space| %>
    <li>

      <strong name='name'>Space <%= space.name %></strong>
        <br/>

        <span class='rwd-line'>  <%= space.description %> </span>
        <br/>
        <span class='rwd-line'> £ <%= space.rate %> </span>
        <br/>
        <%= "<a href=\"spaces/#{space.id}\" style=\"background-color:lightgreen\"> See Space</a>" %>
    </li>
  <% end %>
</ul>
<script>
  $(document).ready(function(){
  $('#magic_button').on('click', function(){
    $('spaces').empty();
  });
}):
</script>
</div>
</section>
