<section>
<h2> Latest Spaces </h2>
<% if @spaces %>
<ul id='spaces'>
  <% @spaces.each do |space| %>
  <article>
    <li>
      <strong>Space <%= space.name %></strong>
        <br/>
      <span class='rwd-line'>  <%= space.description %> </span>
        <br/>
        <span class='rwd-line'>  <%= space.rate %> </span>
        <br/>
    </li>
  </article><br/>
  <% end %>
</ul>
<% end %>
</section>
