<form action="/spaces" method="post">
  Name
  <label for="name">
    <input type="text" name="name" required>
  </label>
Description
  <label for="description">
    <input type="text" name="description" required>
  </label>
Price per night (£)
  <label for="rate">
    <input type="text" name="rate" required>
  </label>
  Maximum capacity
  <label for="max_capacity">
    <input type="text" name="max_capacity" required>
  </label>
Available from (DD/MM/YYYY)
  <label for="available_from_date">
    <input type="date" name="available_from_date" required>
  </label>
  Available to (DD/MM/YYYY)
  <label for="available_to_date">
    <input type="date" name="available_to_date" required>
  </label>

  <button type='submit'>List my Space</button>
</form>
