<form action="/booking" method="post">
  Request From
  <label for="request_from_date">
    <input type="date" name="request_from_date">
  </label>
  <label for="request_to_date">
    <input type="date" name="request_to_date">
  </label>

  <input type="submit" value="Submit request">
</form>
