<form action="/users" method="post" style="padding-top: 60px">
  <br>
  <input type="email" name="email" placeholder="email" value='<%= @user.email %>' required>
  <br>
  <input type="password" name="password" placeholder="password" required>
  <br>
  <input type="password" name="password_confirmation" placeholder="password confirmation" required>
  <input type="submit" value="Sign Up">
</form>
