<p class="lead" style="padding-top: 60px">
  <a class="btn btn-primary btn-lg" href="/users/new" role="button">Sign Up</a>
  <a class="btn btn-primary btn-lg" href="/sessions/new" role="button">Sign In</a>
</p>

<div class="jumbotron">
  <h1 class="display-3">MakersBnB</h1>
  <p class="lead">Welcome to MakersBnB, have a nice stay!</p>
  <hr class="my-2">
  <p>Find a home away from home</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/spaces" role="button">Find a space</a>
  </p>
  <p class="lead">
  </p>
</div>

<!-- <div class="container" style="padding-top: 10px">
  <div class="row">
    <div class="col">
      1 of 3
    </div>
    <div class="col">
      1 of 3
    </div>
    <div class="col">
      1 of 3
    </div>
  </div> -->
</div>
